<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1> Hey, I'm Ramakrishna Balla </h1>
		<p>Welcome to 3rd of my 12 Web Apps using Ruby-on-Rails Challenge.</p>
		<p>This time I came up with a 'RKs_Blog'' application in Rails 4. You're actually on the demo application right now.</p>
    <p>Cool stuff, right!.</p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="https://twitter.com/RamaBalla">@RamakrishnaBalla</a> or on the web at <a href="https://github.com/ramakb">ramakb@GitHub</a></p>
	</div>
</div>